<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Varland Plating PDF Generator</title>

  </head>

  <body>

    <div class="container-fluid d-flex flex-row h-100 px-0">

      <div class="sidebar bg-dark text-white w-25 h-100 shadow overflow-auto">
        <h1 class="m-3 text-center">
          <%= image_tag("logo.svg", class: ["w-50", "m-auto", "d-block"]) %>
          PDF Generator
        </h1>
        <h2 class="mx-3">Available PDFs</h2>
        <div class="list-group list-group-flush" role="tablist">
          <a class="list-group-item list-group-item-action active" data-toggle="list" href="#shipper" role="tab">Packing List</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#bol" role="tab">Bill Of Lading</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#invoice" role="tab">Invoice</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#quote" role="tab">Quote</a>
        </div>
      </div>
      <div class="content w-75 h-100 overflow-auto">
        <div class="tab-content">
          <div class="tab-pane active p-3" id="shipper" role="tabpanel"><%= render(partial: "shipper") %></div>
          <div class="tab-pane p-3" id="bol" role="tabpanel"><%= render(partial: "bill_of_lading") %></div>
          <div class="tab-pane p-3" id="invoice" role="tabpanel"><%= render(partial: "invoice") %></div>
          <div class="tab-pane p-3" id="quote" role="tabpanel"><%= render(partial: "quote") %></div>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

  </body>

</html>